# Byte‐compiled / optimized / DLL files / .cache / .egg-info
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache
.ruff_cache
*.egg-info/

# secrets
.env

# wandb
wandb/

# local‐mode outputs
output/